@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

html.dark-theme {
  background-color: #1e1e1e;
  color: #ffffff;
}

html.light-theme {
  background-color: #ffffff;
  color: #000000;
}
